// Lists
.separated-list{
  margin: 0; padding: 0;
  list-style: none;
  li {
    border-top: 1px solid #666;
    &:first-child { border-top: none; }
    ul {
      list-style: none;
    }
    a {
      border-bottom: none;
      padding: .2rem 0;
      display: block;
      @include rem(font-size, 14px);
    }
  }
}
