.ui .forms .tab-pane {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 1.5rem;
  background: #f9f9f9;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none; }
